body {
    font-family: 'Quicksand', sans-serif; font-weight: 300;
}

.cust-pad {
	padding: 30px 15px 30px 15px;
}

.nav {
	background-color: #677E52;
}

.nav a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

.nav li {
 	display: inline;
}

.banner {
	background-image:url('http://i59.tinypic.com/ev9yww.jpg');
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.banner .container {
	position: relative;
	top: 175px;
}

.banner h1 {
	color: #fff;
	font-size: 36px;  
	font-family: 'Oswald', sans-serif;
	text-shadow: 2px 3px 3px #292929;
	left: 200px;
		/*-webkit-text-stroke: 1px white;*/
}

.banner p {
	font-size: 20px;
	color: #fff;
}

.about-me {
	background-color: #677E52;
}

.about-me h2 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

.about-me .container {
	color: #fff;
}

.about-me .text {
	font-size: 16px;
}

.skills h3 {
	font-family: 'Oswald', sans-serif;
}

.skills {
	color: #fff;
	background-color: #ABBE9B;
}

.skills img {
	max-width: 100%;
}

	@media (max-width: 420px) {
	.skills {
    width: 100%;
	}
}

.skills li {
	display: inherit;
}

.portfolio h2 {
	padding: 0 0 30px 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	color: #000;
}

.portfolio a:link a:visited a:hover a:active {
    text-decoration: none !important;
}

.social-media {
	font-size: 18px;
	color: white;
	background-color: #ABC8E2;
}

.social-media a{
	color: #677E52;
}

.social-media li {
 	display: inline;
 	padding-right: 5px;
}

.footer {
	background-color: #677E52;
	background-position: bottom;
}

.footer a {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}