/*div, span {
	border: 1px solid black;
}
*/

body {
    font-family: 'Quicksand', sans-serif; font-weight: 300;
}

.nav {
	background-color: #677E52;
	padding: 15px 10px 5px 0;
}

.nav a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

.nav li {
 	display: inline;
}

.banner {
	background-image:url('http://i60.tinypic.com/23jwwh.jpg');
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.banner .container {
	position: relative;
	top: 200px;
}

.banner h1 {
	color: #fff;
	font-size: 36px;  
	font-family: 'Oswald', sans-serif;
	text-shadow: 2px 3px 3px #292929;
	left: 200px;
	padding: 0 0 0 5px;
		/*-webkit-text-stroke: 1px white;*/
}

.banner p {
	font-size: 20px;
	color: #fff;
}

.about-me {
	background-color: #677E52;
	padding: 45px 0px 40px 0px;
/*	border-bottom: 1px solid #dbdbdb;*/
}

.about-me h2 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

.about-me .container {
	color: #fff;
	font-size: 24px;
	text-align: center;
}

.about-me p {
 	font-size: 15px;
	text-align: left;
}

.skills h3 {
	font-family: 'Oswald', sans-serif;
}

.skills {
	background-color: #ABC8E2;
	border-bottom: 1px solid #dbdbdb;
	text-align: center;
	padding: 35px 0px 30px 0px;
	color: #fff;
	text-transform: uppercase;
}

.portfolio {
	background-color: #fff;
	border-bottom: 1px solid #dbdbdb;
	text-align: center;
}

.portfolio h2 {
	padding: 20px 0 30px 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

.portfolio a:link a:visited a:hover a:active {
    text-decoration: none !important;
}

.social-media {
	background-color: #ABC8E2;
	text-align: center;
	font-size: 18px;
	color: #fff;
	padding: 25px 0px 20px 0px;

}

.social-media li {
 	display: inline;
 	padding-right: 5px;

}

.footer {
	background-color: #3E6594;
	text-align: center;
}

.footer a {
	text-decoration: none;
	color: #fff;
}

.footer p {
	font-size: 18px;
	color: #fff;
	padding: 25px 25px 25px 25px;
}