.navbar.navbar-default.navbar-fixed-top
  .container
    .row
      %ul.pull-left
        %a{:href => "#"} Amy Ta
      %ul.pull-right
        %li
        %a{:href => "#portfolio"} Portfolio
        %li
        %a{:href => "http://bit.ly/2sKpEeG", :target => "_blank"} Resume
        / %li
        / %a{:href => "/blog", :target => "_blank"} Blog
.banner
  .container
    .row
      .col-xs-6.col-xs-offset-4
        %h1 Ordinary is awfully boring.
.about-me.text-center.cust-pad
  .container
    .row
      .col-md-4.col-md-offset-4
        %h2 I market / design / build awesome things.
        %p I'm a self starter who enjoys learning new things and tackling new challenges; Technology, marketing, programming and all things curious is my cup of tea. 
        %br/
        I'm always interested in learning new things and taking on challenges.
/ .skills.text-center.cust-pad
/   .container
/     .row
/       .col-md-4
/         %ul
/           %h3 MARKETING
/           %li Facebook Ads Manager
/           %li Hootsuite
/           %li Sprout Social
/           %li MailChimp
/           %li Google Analytics
/           %li Heat maps tracking
/       .col-md-4
/         %ul
/           %h3 DESIGN
/           %li Adobe Illustrator
/           %li Photoshop
/           %li InDesign
/           %li Lightroom
/       .col-md-4
/         %ul 
/           %h3 TECHNICAL
/           %li HTML
/           %li CSS
/           %li Javascript
/           %li Java
/           %li Ruby on Rails

%a{:name => "portfolio"}
.portfolio.text-center.cust-pad
  .container
    %h1 Portfolio / Work
    .row
      %ul#filter-list.clearfix
        %li.filter{"data-filter" => "all"} All
        %li.filter{"data-filter" => "webdesign"} Web Design
        %li.filter{"data-filter" => "illustration"} Illustration
        %li.filter{"data-filter" => "socialmedia"} Social Media
      %ul#portfolio
        %li.item.illustration
          %img{:alt => "bronco startup challenge design", :src => "images/bsc15.png"}/
        %li.item.illustration
          %img{:alt => "CRG Sports campaign", :src => "images/crg.png"}/
        %li.item.socialmedia
          %a{:href => "http://www.facebook.com/hackpoly"}
            %img{:alt => "hackpoly socialmedia", :src => "images/hackpoly.png"}/
        %li.item.illustration
          %img{:alt => "la dolve vita design", :src => "images/ldv.png"}/
        %li.item.illustration
          %img{:alt => "Outer space park logo", :src => "images/osp.png"}/
        %li.item.webdesign
          %a{:href => "http://www.r2mediahub.com"}
            %img{:alt => "r2 media hub website design", :src => "images/r2mh.png"}/
        %li.item.webdesign
          %a{:href => "http://employd.co"}
            %img{:alt => "employd website design", :src => "images/employd.png"}/
        %li.item.webdesign
          %a{:href => "http://vapenights.com"}
            %img{:alt => "vapenights website design", :src => "images/vapenights.png"}/

/ .social-media.text-center.cust-pad
/   .container
/     .row
/       %ul
/         %li Check out my career history, tweets & code:
/         %li
/           %a{:href => "http://linkedin.com/in/nguyetta", :target => "_blank"} in      
/         %li
/           %a{:href => "http://twitter.com/amythuta", :target => "_blank"} t
/         %li
/           %a{:href => "http://github.com/amyta", :target => "_blank"} git

.footer.cust-pad
  .container
    .row
      .col-md-6
        %a{:href => "mailto:yo@amythuta.com", :target => "_blank"}
          %i.fa.fa-envelope
          %p Let's chat!
      .col-md-6
        %ul
	        %li Check out my career history, tweets & code:
	        %li
	          %a{:href => "http://linkedin.com/in/nguyetta", :target => "_blank"} in      
	        %li
	          %a{:href => "http://twitter.com/amythuta", :target => "_blank"} t
	        %li
	          %a{:href => "http://github.com/amyta", :target => "_blank"} git

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56771699-1', 'auto');
  ga('send', 'pageview');

:javascript
  $(function(){
    $('#portfolio').mixitup({
      targetSelector: '.item',
      transitionSpeed: 450
    });
  });
